.u1{
    /* position: fixed; */
    list-style: none;
    /* min-height: 60px; */
    margin-bottom: 0px;
    padding: 20px 0 10px;
    background-color: black;
    height: 60px;
    width: 100%;
    min-width: 1583px;
}
.u2{
    height: 60px;
    min-width: 0;
    margin-left: 200px;
}
.u3{
    float: left;
}
.u4{
    float: left;
}
.u5{
    line-height: 50px;
    color: white;
    /* background-color: #f7f7f7; */
    text-align: center;
    /* border: 1px solid #ccc; */
    border-top: none;
    display: block;
    font-family: "Microsoft YaHei UI";
    font-size: 24px;
    padding-left: 30px;
    text-decoration: none;
}

.u6{
    width: 100px;
    line-height: 50px;
    color: white;
    /* background-color: #f7f7f7; */
    text-align: center;
    /* border: 1px solid #ccc; */
    border-top: none;
    display: block;
    font-family: "Microsoft YaHei UI";
    font-size: 24px;
    padding-left: 30px;
    text-decoration: none;
}
.u7{
    width: 100px;
    line-height: 50px;
    color: white;
    /* background-color: #f7f7f7; */
    text-align: center;
    /* border: 1px solid #ccc; */
    border-top: none;
    /* display: block; */
    font-family: "Microsoft YaHei UI";
    font-size: 24px;
    padding-left: 20px;
    text-decoration: none;
}
#x{
    padding-left: 160px;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}
h4{
    font-size: 10px;
}
.menubox {
    list-style: none;
    position: relative;
    min-height: 60px;
    margin-bottom: 40px;
    padding: 20px 0 10px;
    background-color: #e9e9e9;
    height: 105px;
    min-width: 1583px;
}
.menu-select{
    height: 40px;
    width: 200px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    position: absolute;
    left: 500px;
}
#menu-select2{
    height: 40px;
    width: 200px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    position: absolute;
    left: 200px;
}

.menu-opt{
    opacity: .93;
}
.menu-search{
    opacity: .93;
}
.search-input{
    position: absolute;
    left: 900px;
    height: 37px;
    width: 300px;
    font-size: 18px;
    font-family: "Microsoft YaHei UI";
    opacity: .83;
}
.search-bt{
    position: absolute;
    left: 1203px;
    height: 43px;
    width: 50px;
    border: 0;
    opacity: .83;
    font-size: 15px;
    font-family: "Microsoft YaHei";
}
.search-bt:hover{
    background-color: #999999;
}
.maindiv{
    display: flex;
    flex-wrap: wrap;
}
.maindiv:after{
    content: " ";
    flex-grow: 9999999
}
.item{
    flex-grow: 1;
    margin: 20px;
    position: relative;
}
img{
    height: 400px;
    min-width: 100%;
    object-fit: cover;
}
.tag{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*transition: all 1s;*/
    background: -webkit-linear-gradient(top,transparent 0,rgba(0,0,0,.35) 50%,rgba(0,0,0,.95) 100%)!important;
}
/*.tag:hover{
    !*background: rgba(77,77,77,0.3)*!
    background: -webkit-linear-gradient(top,transparent 0,rgba(0,0,0,.55) 50%,rgba(0,0,0,.95) 100%)!important;
}*/
.tag:hover .bt{
    height: 40px;
    background: rgba(0,0,0,0.5);
    transition: all 0.5s;
}
.bt{
    position: absolute;
    /*bottom: 0;*/
    right: 0;
    border: none;
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:white;
    height: 0;
    font-family: "Microsoft YaHei";
}
/*.tag:hover .info{
    height: 40px;
    background: rgba(0,0,0,0.5);
    transition: all 0.5s;
}*/
.info{
    padding: 15px 0;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(255,255,255,.5);
    font-size: 20px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:white;
    height: 40px;
    font-family: "Microsoft YaHei";
}
.infocredit{
    float: right;
    display: inline-block;
    height: 40px;
    width: 60px;
    background: 0 0;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    border-radius: 100px;
    opacity: .8;
    margin: -9px auto;
    padding: 18px 0 0;
    font-size: 1em;
    border: 2px solid #FFF;
    margin-right: 20px;
}
.infonum{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    padding: 0 22px;
    font-size: 15px;
    color: rgba(255,255,255,.6);
    font-family: "Microsoft YaHei";
}
.inforeq{
    position: absolute;
    font-size: 1em;
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    color: #FFF;
    opacity: .95;
    font-weight: 600;
    bottom: 10px;
    line-height: 1.2em;
    left: 20px;
}

.infokind{
    width: 150px;
    height: 40px;
    background-color: #FCB69F;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 90px;
    right: -15px;
    font-weight: bold;
    color: gray;
}
.infokind:before{
    content:'';
    width:20px;
    height: 0%;
    border: 20px solid;
    border-color: transparent #FCB69F transparent transparent ;
    position: absolute;right:150px;top: 0px; }

.infokind:after{
    content:'';
    width:10px;
    border: 15px solid;
    border-color: transparent transparent transparent #FFECD2;
    border-top: 0;
    right: -25px;
    position: absolute;/*使伪元素脱离文档流,使伪元素不受div内容的影响,便于计算位置,此时after相对于div的左上角进行定位*/
    top: 40px;
}
.infomark1{
    display: none;
    width: 150px;
    height: 30px;
    background-color: #CFD9DF;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 150px;
    right: -15px;
    font-weight: bold;
    color: white;
}
.infomark1:before{
    content:'';
    width:20px;
    height: 0%;
    border: 15px solid;
    border-color: transparent #CFD9DF transparent transparent ;
    position: absolute;right:150px;top: 0px; }

.infomark1:after{
    content:'';
    width:10px;
    border: 15px solid;
    border-color: transparent transparent transparent #E2EBF0;
    border-top: 0;
    right: -25px;
    position: absolute;/*使伪元素脱离文档流,使伪元素不受div内容的影响,便于计算位置,此时after相对于div的左上角进行定位*/
    top: 30px;
}
.infomark2{
    display: none;
    width: 150px;
    height: 30px;
    background-color: #C3CFE2;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 200px;
    right: -15px;
    font-weight: bold;
    color: white;
}
.infomark2:before{
    content:'';
    width:20px;
    height: 0%;
    border: 15px solid;
    border-color: transparent #C3CFE2 transparent transparent ;
    position: absolute;right:150px;top: 0px; }

.infomark2:after{
    content:'';
    width:10px;
    border: 15px solid;
    border-color: transparent transparent transparent #F5F7FA;
    border-top: 0;
    right: -25px;
    position: absolute;/*使伪元素脱离文档流,使伪元素不受div内容的影响,便于计算位置,此时after相对于div的左上角进行定位*/
    top: 30px;
}
.infomark3{
    display: none;
    width: 150px;
    height: 30px;
    background-color: #E2D1C3;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 250px;
    right: -15px;
    font-weight: bold;
    color: white;
}
.infomark3:before{
    content:'';
    width:20px;
    height: 0%;
    border: 15px solid;
    border-color: transparent #E2D1C3 transparent transparent ;
    position: absolute;right:150px;top: 0px; }

.infomark3:after{
    content:'';
    width:10px;
    border: 15px solid;
    border-color: transparent transparent transparent #FDFCFB;
    border-top: 0;
    right: -25px;
    position: absolute;/*使伪元素脱离文档流,使伪元素不受div内容的影响,便于计算位置,此时after相对于div的左上角进行定位*/
    top: 30px;
}

.inforeqimg{
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    height: 50px;
    min-width: 30px;
    border-radius: 100px;
    width: 50px;
    float: left;
}
.inforeqname{
    display: block;
    /* letter-spacing: -1px; */
    text-overflow: ellipsis;
    font-size: 14px;
    color: #FFF!important;
    white-space: nowrap;
    overflow: hidden;
    word-spacing:5px;
    float: left;
}


p{
    font-family: "Microsoft YaHei UI";
    font-size: 15px;
    position: absolute;
    left: 180px;
    top:100px;
    color: #f7f7f7;
}
.task-infop1{
    top: 95px;
    left: 250px;
}
.task-infop2{
    top:140px;

}
.task-infop3{
    top:180px;
}
.task-infop4{
    top:220px;
}
.task-infop5{
    top:260px;
}
.task-infop6{
    top:300px;
}
.task-infop7{
    top:340px;
}
.task-infop8{
    top:510px;
    width: 300px;
}

.task-img{
    margin-top: 90px;
    margin-left: 180px;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    height: 50px;
    min-width: 30px;
    border-radius: 100px;
    width: 50px;
    float: left;
    object-fit: cover;
}
.task-infop9{
    top:380px;
}
.task-infop10{
    top:420px;
}
.task-infop11 {
    top: 450px;
    left: 216px;
}
.task-infop12{
    top:480px;
    left: 216px;
}

/*
.task-kind{
    width: 100px;
    height: 30px;
    background-color: #E2D1C3;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 250px;
    right: -15px;
    font-weight: bold;
    color: white;
}
.task-kind:before{
    content:'';
    width:20px;
    height: 0%;
    border: 15px solid;
    border-color: transparent #E2D1C3 transparent transparent ;
    position: absolute;right:100px;top: 0px; }
*/
.taskDetail-q{

}
.task-q1{
    font-size: 20px;
    width: 300px;
}
.task-q2{
    display: none;
    position: absolute;
    left: 200px;
    top: 270px;
    border-radius: 10px;
    font-size: 18px;
    width: 250px;
    font-family: Microsoft YaHei UI;
    height: 35px;
    border: 0;
    background-color: #fff;
    opacity: 0.9;
}
.task-q2:hover{
    background-color: #939393;
}
.task-q3{
    display: none;
    position: absolute;
    left: 200px;
    top: 330px;
    border-radius: 10px;
    font-size: 18px;
    width: 250px;
    font-family: Microsoft YaHei UI;
    height: 35px;
    border: 0;
    background-color: #fff;
    opacity: 0.9;
}
.task-q3:hover{
    background-color: #939393;
}
.task-q4{
    display: none;
    position: absolute;
    left: 200px;
    top: 390px;
    border-radius: 10px;
    font-size: 18px;
    width: 250px;
    font-family: Microsoft YaHei UI;
    height: 35px;
    border: 0;
    background-color: #fff;
    opacity: 0.9;
}
.task-q4:hover{
    background-color: #939393;
}
.task-q5{
    display: none;
    position: absolute;
    left: 200px;
    top: 450px;
    border-radius: 10px;
    font-size: 18px;
    width: 250px;
    font-family: Microsoft YaHei UI;
    height: 35px;
    border: 0;
    background-color: #fff;
    opacity: 0.9;
}
.task-q5:hover{
    background-color: #939393;
}
.task-q6{
    display: none;
    position: absolute;
    left: 260px;
    top: 610px;
    border-radius: 10px;
    font-size: 18px;
    width: 80px;
    font-family: Microsoft YaHei UI;
    height: 35px;
    border: 0;
    background-color: #fff;
    opacity: 0.9;
}
.task-q7{
    top: 550px;
    left: 240px;
}
.taskDetail-close{
    position: absolute;
    left: 350px;
    top: 610px;
    border-radius: 10px;
    font-size: 18px;
    width: 80px;
    font-family: Microsoft YaHei UI;
    height: 35px;
    border: 0;
    background-color: #fff;
    opacity: 0.9;
}
.taskDetail-gain{
    position: absolute;
    left: 200px;
    top: 610px;
    border-radius: 10px;
    font-size: 18px;
    width: 80px;
    font-family: Microsoft YaHei UI;
    height: 35px;
    border: 0;
    background-color: #fff;
    opacity: 0.9;
}
.taskDetail-pics{
    position: absolute;
    left: 500px;
    top: 100px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Microsoft Yahei";

}
.taskDetail-pics:after{
    content: " ";
    flex-grow: 9999999
}
.picitem{
    flex-grow: 1;
    margin: 2px;
    position: relative;

}
.picimg{
    height: 150px;
    min-width: 100%;
    object-fit: cover;

}
.pictag{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 1s;
}
.pictag:hover{
    background: rgba(77,77,77,0.3)
}
.pictag:hover .picbt1{
    height: 25px;
    background: rgba(0,0,0,0.5);
    transition: all 0.5s;
}
.pictag:hover .picbt2{
    height: 25px;
    background: rgba(0,0,0,0.5);
    transition: all 0.5s;
}
.pictag:hover .picbt3{
    height: 25px;
    background: rgba(0,0,0,0.5);
    transition: all 0.5s;
}
.taskDetail{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    top: 0px;
    left: 0px;
    z-index: 1;
}

.changebox{
    min-height: 60px;
}
#changeBt1{
    border: none;
    font-size: 20px;
    min-height: 60px;
    background-color: #e9e9e9;
    margin-left: 50px;
    border-top-left-radius: 30px;
    font-weight: bold;
    font-family: Microsoft YaHei UI;
    outline: none;
    min-width: 150px;
}
#changeBt2{
    border: none;
    font-size: 20px;
    min-height: 60px;
    background-color: white;
    min-width: 150px;
    border-top-right-radius: 30px;
    font-family: Microsoft YaHei UI;
    outline: none;
}