.main-box {
    position: relative;
    min-height: 750px;
    width: 100%;
    height: 100%;
    background: #222;
    background-image: url(http://114.215.188.21/161250119_ControllSECIII/SECIII_Phase_I/raw/master/html/pic/homepageBackground.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main-button {
    position: relative;
    z-index: 10;
    left: 0;
    top: -500px;
}

.main-button .btn-post-project {
    font-size: 30px;
    border-radius: 30px;
    height: 100px;
    width: 24%;
    min-width: 120px;
    padding: 0px 20px;
    line-height: 50px;
    background-color: #FFF;
    color: #000;
    border: none;
}