<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link href="./css/wholeLabelPageCSS.css" rel="stylesheet">-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <style type="text/css">
        .box {
            border: 1px solid yellow;
            width: 0px;
            height: 0px;
            position: absolute;
            opacity: 0.9;
        //cursor: move;
        }
    </style>

    <style>

        .sidebar {
            position: absolute;
            top: 140px;
            right: 0;
            min-height: 85%;
            background: #f6f6f6;
            width: 300px;
            font-family: "Microsoft YaHei UI";
            font-size: 20px;
        }

        .content {
            position: absolute;
            left: 300px;
            top: 160px;
            z-index: -1;
            width:1000px;
            height:600px;
            align-items: center;
            text-align: center;
        }


        body {
            background: white;
            background-size: cover;
            background-attachment:fixed;
            background-position: center center;
            background-repeat: no-repeat;
        }


        .right_box{
            background: #fff;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
            border-radius: 3px;
            height: 250px;
            border-top: 1px solid #2093ff;
            width: 96%;
            margin-left: 2%;
            display: inline-block;
            float: top;
            vertical-align: top;
            margin-top: 10px;
        }

        input{
            font-family: SimSun-ExtB;
        }

        .color{
            height: 20px;
            width: 20px;
            display: inline-block;
            border: 1px solid gray;
        }

        hr{height:1px;border:none;border-top:1px solid lightgrey;}

        .tag{
            background-color: lightyellow;
            font-size: 18px;
            border-radius: 5px;
            margin-top:5px ;
            width:250px;
            text-align: center;
            margin-left: 20px;
        }

    </style>


    <script>
        var storeX=new Array();
        var storeY=new Array();
        var color;
        var tID;
        var workerAccount;

        function previousPic(){
            var obj = new Object();
            obj.picID=document.getElementById("picID").value;
            obj.TaskID=tID;
            obj.workerAccount=workerAccount;

            var html = $.ajax({
                type: "Post",
                url: '/previousPic/check',
                dataType:'json',
                contentType: "application/json",
                async: true,
                data: JSON.stringify(obj),
                success: function(myobj) {
                    if(myobj.result==false){
                        alert("已是第一张图片");
                    }
                    else{
                        var postData ={'picSrc':myobj.picSrc,'picID':myobj.picID,'TaskID':tID, 'tag':position,'workerAccount':workerAccount,
                            'demand':document.getElementById('demand').value, 'category':document.getElementById('category').innerText.substr(3)};
                        postData = JSON.stringify(postData); //转化为JSON字符串
                        localStorage.setItem("filter", postData);
                        if(myobj.kind==1){
                            window.open("./checkWholeLabelPage.html","_self");
                        }else  if(myobj.kind==2){
                            window.open("./checkRectangleLabelPage.html","_self");
                        }else{
                            window.open("./OutlineLabelPage.html","_self");
                        }

                    }

                },
                error: function() {
                    alert("error");
                }
            });

        }

        function nextPic() {
            var obj = new Object();
            obj.picID=document.getElementById("picID").value;
            obj.TaskID=tID;
            obj.workerAccount=workerAccount;

            var html = $.ajax({
                type: "Post",
                url: '/nextPic/check',
                dataType:'json',
                contentType: "application/json",
                async: true,
                data: JSON.stringify(obj),
                success: function(myobj) {
                    if(myobj.result==false){
                        alert("已是最后一张图片");
                    }
                    else{
                        var postData ={'picSrc':myobj.picSrc,'picID':myobj.picID,'TaskID':tID, 'tag':position,'workerAccount':workerAccount,
                            'demand':document.getElementById('demand').value, 'category':document.getElementById('category').innerText.substr(3)};
                        postData = JSON.stringify(postData); //转化为JSON字符串
                        localStorage.setItem("filter", postData);
                        if(myobj.kind==1){
                            window.open("./checkWholeLabelPage.html","_self");
                        }else  if(myobj.kind==2){
                            window.open("./checkRectangleLabelPage.html","_self");
                        }else{
                            window.open("./OutlineLabelPage.html","_self");
                        }

                    }

                },
                error: function() {
                    alert("error");
                }
            });
        }

        function myFunction(){
            document.getElementById('laber').innerText="标注者:"+localStorage.workerNickname+"    ";
            var data = JSON.parse(localStorage.getItem("filter"));
            var picSrc = data['picSrc'];
            document.getElementById("picID").value=data['picID'];
            var picID=data['picID'];
            tID=data['TaskID'];
            var c=document.getElementById('myCanvas');
            var ctx=c.getContext('2d');
            var img=new Image();
            img.src=picSrc;
            workerAccount=data['workerAccount'];
            var position=data['tag'];


            document.getElementById('demand').value=localStorage.demand;
            document.getElementById('category').innerText="分类："+localStorage.category;
            showTags();

            if(position==2){
                document.getElementById("complain").style.display="none";
            }

            if(position==0){
                document.getElementById("complain").innerText="申诉";
                document.getElementById("complain").onclick=appeal;
            }

            if(position!=0){
                document.getElementById("leftArrow").style.display="none";
                document.getElementById("rightArrow").style.display="none";
            }

            img.onload=function(){
                var height=img.height;
                var width=img.width;
                c.height=height;
                c.width=width;
                ctx.drawImage(img,0,0);

                var obj=new Object();
                obj.workerAccount=workerAccount;
                obj.picID=picID;

                var html = $.ajax({
                    type: "Post",
                    url: '/editLabel/partLabel',
                    dataType:'json',
                    contentType: "application/json",
                    async: true,
                    data: JSON.stringify(obj),
                    success: function(myobj) {
                        loadLabel(myobj.pl,myobj.answer);
                    },
                    error: function() {
                        alert("error");
                    }
                });
            }


        }



        function loadLabel(obj,answer){

            var lis=JSON.parse(obj.lis);
            for(var i=0;i<lis.length;i++){
                storeX[i]=lis[i].x;
                storeY[i]=lis[i].y;
            }

            color=obj.color;
            document.getElementById(color.substr(0,3)).style.border="1px solid red";

            document.getElementById("label").value=obj.info;
            document.getElementById("description").value=obj.d;
            document.getElementById("labelID").value=obj.iD;

            var judge=obj.state;
            if(judge==2){
                document.getElementById('answer').innerText="正确答案："+answer;
                document.getElementById('answer').style.display="inherit";
            }else{
                document.getElementById('answer').style.display="none";
            }


            var i=0;
            while(i<storeY.length){
                var active_box = document.createElement("div");
                active_box.id = "active_box";
                active_box.className = "box";
                active_box.style.top = storeY[i] + 'px';
                active_box.style.left =  storeX[i]+ 'px';
                active_box.style.width = storeX[i+1]- storeX[i] + 'px';
                active_box.style.height = storeY[i+1] - storeY[i] + 'px';
                active_box.style.borderColor=color;
                document.body.appendChild(active_box);
                active_box.removeAttribute("id");
                i=i+2;
                active_box = null;
            }
        }

        function showTags() {
            var tags=JSON.parse(localStorage.getItem('taskTags'));
            alert(tags.length);
            var i;
            for(i=0;i<tags.length;i++){
                var tag=document.createElement('div');
                tag.className='tag';
                tag.innerText=tags[i];
                document.getElementById('taskInfo').appendChild(tag);
            }
            if(tags.length==1){
                document.getElementById('taskInfo').style.height="285px";
            }else if(tags.length==2){
                document.getElementById('taskInfo').style.height="310px";
            }else if(tags.length==3){
                document.getElementById('taskInfo').style.height="335px";
            }
        }

        function complain() {
            var c=confirm("是否确认投诉此用户");
            if(c==true){
                var obj=new Object();
                obj.requestorAccount=localStorage.account;
                obj.workerAccount=workerAccount;
                obj.picID=picIDs[order];
                obj.taskID=tID;

                var html = $.ajax({
                    type: "Post",
                    url: '/feedback/complain',
                    dataType:'json',
                    contentType: "application/json",
                    async: true,
                    data: JSON.stringify(obj),
                    success: function(myobj) {
                        if(myobj==true){
                            alert("投诉发起成功，请等待处理");
                        }else{
                            alert("投诉失败");
                        }
                    },
                    error: function() {
                        alert("error");
                    }
                });
            }

        }

        function appeal() {
            var c=confirm("是否申诉");
            if(c==true){
                var obj=new Object();
                obj.workerAccount=workerAccount;
                obj.picID=picIDs[order];
                obj.taskID=tID;

                var html = $.ajax({
                    type: "Post",
                    url: '/feedback/appeal',
                    dataType:'json',
                    contentType: "application/json",
                    async: true,
                    data: JSON.stringify(obj),
                    success: function(myobj) {
                        if(myobj==true){
                            alert("申诉发起成功，请等待处理");
                        }else{
                            alert("申诉失败");
                        }
                    },
                    error: function() {
                        alert("error");
                    }
                });
            }

        }

        function close1() {
            window.opener=null;
            window.open('','_self');
            window.close();
        }


    </script>


</head>
<body onload="myFunction()">


<div id="userbar" style="position: fixed;width: 1860px;z-index: 3;padding-left: 20px;top:0;float:top;z-index: 4">
    <img src="../static/pic/logo.png" style="height: 60px;margin-left: -1%;max-width: 300px">
    <p style="font-family: 'Microsoft YaHei UI Light';font-size: 36px;color: white;display: inline-block;vertical-align:20%;margin-top: -6px;margin-left: 700px;">查看方框标注</p>
    <div style="color: white;font-size: 25px;font-family: 'Microsoft YaHei UI';right:0;z-index: 4;position: fixed;display: inline-block;vertical-align: 40%">
        <p id="laber" style="display: inline-block;margin-right: 50px">标注者:Starink    </p>
        <a onclick="close1()" style="display: inline-block;cursor: pointer">返回目录</a>
    </div>

</div>

<div style="position: fixed;width: 101%;height:80px;background-color: skyblue;opacity: 1;z-index: 3;margin-top: -1%;margin-left: -1%"></div>
<br>

<div class="sidebar" style="margin-top: -70px;position: fixed">
    <div class="right_box" id="taskInfo">
        <p style="padding-left: 5px">任务信息</p>
        <hr style="margin-top: -2%">
        <p id="category" style="padding-left: 20px;margin-top: -5px">类别：动物</p>
        <p style="padding-left: 20px;margin-top: -5px">要求：</p>
        <textarea id="demand" style="text-align: left; font-size:19px; width:86%;height: 80px;margin-top:-10px; margin-left: 20px;" name="demand" readonly="readonly">无</textarea>
    </div>

    <div class="right_box" style="height: 300px">
        <p style="padding-left: 5px">标注详情：</p>
        <hr style="margin-top: -2%">
        <p style="padding-left: 20px;margin-top: -5px">标注：</p>
        <input type="text" id="label" readonly="readonly" style="height:30px;font-family: SimSun-ExtB;font-size:20px;margin-left: 20px;width: 86%;margin-top:-100px">
        <p id="answer" style="font-size: 15px;color: red;padding-left: 20px;margin-bottom: -10px;display: none">正确答案：苟利国家生死以</p>
        <p style="padding-left: 20px;">描述：</p>
        <textarea id="description" style="text-align: left; font-size:19px; width:86%;height: 70px;margin-top:-10px; margin-left: 20px;" name="description" readonly="readonly"></textarea>
    </div>

    <input id="picID"   style="display: none" name="picID"></input>
    <input id="flag"   style="display: none" name="flag" value=0></input>
    <input id="labelID"   style="display: none" name="labelID"></input>
    <button onclick="complain()" id="complain" value="投诉" style=" font-family: 'Microsoft YaHei UI';font-size:22px; width:120px; margin-top: 20px; margin-left: 20px; color: black; background-color: white;height: 36px;">投诉</button>
</div>
<div class="content">
    <canvas id="myCanvas" style="max-height: 600px; max-width: 900px;min-height: 580px; z-index:10;"></canvas>
</div>

<img src="../static/pic/leftArrow.png" style="left: 20px;top: 360px;position: fixed;max-width: 100px" id="leftArrow" onclick="previousPic()">
<img src="../static/pic/rightArrow.png" style="right:320px;top: 360px;position: fixed;max-width: 100px" id="rightArrow" onclick="nextPic()">

<div style="width:100%; bottom:0px; background-color: skyblue;margin-left: -0.2%;position: fixed;">
    <img src="../static/pic/logo.png" style="width:8%">
    <span style="color: white;text-align: center;font-size: 25px;vertical-align: center">让世界的智慧凝聚为你的眼</span>
    <span style="color: white;text-align: center;font-size: 25px;float: right;padding-top: 20px;margin-right: 0.4%">怎么码都码不队</span>
</div>

    <div class="colorSelector" style="text-align: center;position: fixed;left: 750px;bottom:100px">
        <div class="color" onclick="black()" id="bla" style="background-color: black"></div>
        <div class="color" onclick="white()" id="whi" style="background-color: white"></div>
        <div class="color" onclick="yellow()" id="yel" style="background-color: yellow"></div>
        <div class="color" onclick="blue()" id="blu" style="background-color: blue"></div>
    </div>


</body>
</html>
