<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/echarts.js"></script>
    <script src="../static/echarts-gl.min.js"></script>
    <script src="../static/ecStat.min.js"></script>

    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: transparent;
        }

        li{
            display: inline-block;
        }

        li a {
            display: block;
            color: ghostwhite;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 24px;
            font-family: "Microsoft YaHei UI";
        }

        li a:hover {
            background-color: transparent;
        }

        .titleBox{
            width:101%;
            height: 140px;
            position: relative;
            margin: auto;
            color: #333333;
            border-radius: 4px;
            background: white;
            box-shadow: 1px 1px 4px #a0a0a0;
            font-family: "Microsoft YaHei UI";
            font-size: 20px;
            margin-left: 0;
        }

        .mainbody{
            width: 102%;
            height: 590px;
            background-color: lightblue;
            margin-left: -1%;
            font-family: "Microsoft YaHei UI";
            font-size: 20px;
            vertical-align: top;
        }



        .maincut{
            width: 102%;
            height: 30px;
            background-color: lightblue;
            margin-left: -1%;
        }

        .left_menu_box{
            background: #fff;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
            border-radius: 3px;
            height: 520px;
            min-height: 520px;
            border-top: 4px solid #2093ff;
            width: 16%;
            margin-left: 12.5%;
            display: inline-block;
            float: top;
            vertical-align: top;
        }

        .menus a{
            padding-left: 40px;
            color: black;
            font-size: 20px;

        }
        .menus li{
            padding: 0;
        }

        .menus p{
            padding-left: 20px;
            color: black;
            font-size: 20px;
        }

        .mainPanel{
            background: #fff;
            -webkit-box-shadow: 0px 0px 8px #c8c8c8;
            /* box-shadow: 0px 0px 8px #c8c8c8; */
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
            border-radius: 3px;
            height: 540px;
            width:76%;
            display: inline-block;
            float: top;
            margin-left: 12.5%;
        }

        hr{height:1px;border:none;border-top:1px solid lightgrey;}
    </style>

    <script>
        var complete=1;
        var undergoing=1;
        var uncomplete=1;
        var name="1";
        var account=0;
        var picCredits=new Array();
        var speeds=new Array();
        var taskPicNumbers=new Array();
        var finishPercents=new Array();
        var picNumbers=['1-5','6-10','11-15','16-20','21-25','26-30','31-35','36-40','40-45','46-50','>50'];
        var credits=['1-20','21-40','41-60','61-80','81-100','>100'];
        var percents=[
            [0,0,75],[0,1,72],[0,2,66],[0,3,61],[0,4,55],[0,5,42],[0,6,30],[0,7,22],[0,8,13],[0,9,10],[0,10,8],
            [1,0,79],[1,1,77],[1,2,75],[1,3,70],[1,4,64],[1,5,53],[1,6,41],[1,7,37],[1,8,22],[1,9,17],[1,10,12],
            [2,0,86],[2,1,85],[2,2,80],[2,3,76],[2,4,70],[2,5,62],[2,6,54],[2,7,44],[2,8,32],[2,9,26],[2,10,20],
            [3,0,92],[3,1,90],[3,2,87],[3,3,82],[3,4,74],[3,5,69],[3,6,60],[3,7,50],[3,8,39],[3,9,35],[3,10,29],
            [4,0,100],[4,1,98],[4,2,95],[4,3,90],[4,4,83],[4,5,73],[4,6,65],[4,7,56],[4,8,45],[4,9,40],[4,10,34],
            [5,0,100],[5,1,99],[5,2,96],[5,3,92],[5,4,86],[5,5,79],[5,6,72],[5,7,63],[5,8,53],[5,9,45],[5,10,39]
        ];
        var data0= [
            [28, 22.3, 60, '001'],
            [5, 3.4, 36, '002'],
            [3, 2.1, 100, '003'],
            [31, 27.1, 50, '004'],
            [14, 9.3, 40, '005'],
            [17, 11.5, 80, '006'],
            [46, 45.5, 12, '007'],
            [19, 13.1, 75, '008'],
            [2, 1.3, 30, '009'],
            [8, 5.9, 100, '010'],
            [25, 19.4, 120, '011'],
            [36, 32.2, 90, '012'],
            [48, 47.3, 70, '013'],
            [55, 60.2, 88, '014']
        ];

        var data= [
            [28, 22.3],
            [5, 3.4],
            [3, 2.1],
            [31, 27.1],
            [14, 9.3],
            [17, 11.5],
            [46, 45.5],
            [19, 13.1],
            [2, 1.3],
            [8, 5.9],
            [25, 19.4],
            [36, 32.2],
            [48, 47.3],
            [55, 60.2]
        ];

        window.onload=function () {
            /*var obj=new Object();
            obj.data=data;
            obj.data0=data0;
            obj.percents=percents;
            obj.credits=credits;
            obj.picNumbers=picNumbers;

            var html = $.ajax({
                type: "Post",
                url: '/getData',
                dataType:'json',
                contentType: "application/json",
                async: true,
                data: JSON.stringify(obj),
                success: function(myobj) {
                    data=myobj.data;
                    data0=myobj.data0;
                    percents=myobj.percents;
                    picNumbers=myobj.picNumbers;
                    credits=myobj.credits;
                    console.log(credits[0]);
                    set3d();
                    setScatter();
                },
                error: function() {
                    alert("error");
                }
            });*/



            name = localStorage.nickname;
            account = localStorage.account;
            document.getElementById('username').innerText=name;
            var username=document.getElementById('username');
            username.onmouseover=function () {
                document.getElementById("menu").style.display="inherit";
            }
            document.getElementById("userbar").onmouseleave=function (e) {
                if(e.target.id!="nemu"){
                    document.getElementById("menu").style.display="none";
                }
            };

            var obj={account:account};

            var html = $.ajax({
                type: "Post",
                url: '/creditAndTask/getCreditCondition',
                dataType:'json',
                contentType: "application/json",
                async: true,
                data: JSON.stringify(obj),
                success: function(myobj) {
                    data=myobj.data;
                    data0=myobj.data0;
                    percents=myobj.percents;
                    picNumbers=myobj.picNumbers;
                    credits=myobj.credits;
                    console.log(credits[0]);
                    set3d();
                    setScatter();
                },
                error: function() {
                    alert("error");
                }
            });


        };



        function logout(){
            window.open("./homepage.html","_self");
        }

        function goPersonalSpace(){
            window.open("./personalSpacePage.html","_self");
        }


        function setLine1() {
            var myChart = echarts.init(document.getElementById('line1'));
            var option = {
                title: {
                    text: '图片均积分与一人标一图所需时间（h）'
                },
                xAxis: {
                    type: 'category',
                    data: picCredits
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: speeds,
                    type: 'line',
                    smooth: true
                }]
            };

            myChart.setOption(option);
        }

        function setLine2() {
            var myChart = echarts.init(document.getElementById('line2'));
            var option = {
                title: {
                    text: '任务图片数与完成率（%）'
                },
                xAxis: {
                    type: 'category',
                    data: taskPicNumbers
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: finishPercents,
                    type: 'line',
                    smooth: true
                }]
            };

            myChart.setOption(option);
        }

        function set3d() {
            var myChart = echarts.init(document.getElementById('line1'));
            var option = {
                title: {
                    text: '任务图片数、图片价格与完成率（%）'
                },
                tooltip: {},
                visualMap: {
                    max: 100,
                    inRange: {
                        color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                    }
                },
                xAxis3D: {
                    type: 'category',
                    name: '任务图片数（张）',
                    data: picNumbers
                },
                yAxis3D: {
                    type: 'category',
                    name: '图片价格（积分）',
                    data: credits
                },
                zAxis3D: {
                    type: 'value',
                    name: '完成率（%）'
                },
                grid3D: {
                    boxWidth: 200,
                    boxDepth: 80,
                    viewControl: {
                        // projection: 'orthographic'
                    },
                    light: {
                        main: {
                            intensity: 1.2,
                            shadow: true
                        },
                        ambient: {
                            intensity: 0.3
                        }
                    }
                },
                series: [{
                    type: 'bar3D',
                    data: percents.map(function (item) {
                        return {
                            value: [item[1], item[0], item[2]]
                        }
                    }),
                    shading: 'lambert',

                    label: {
                        textStyle: {
                            fontSize: 16,
                            borderWidth: 1
                        }
                    },

                    emphasis: {
                        label: {
                            textStyle: {
                                fontSize: 20,
                                color: '#900'
                            }
                        },
                        itemStyle: {
                            color: '#900'
                        }
                    }
                }]
            };

            myChart.setOption(option);
        }

        function setScatter() {
            var myRegression = ecStat.regression('exponential', data);

            myRegression.points.sort(function(a, b) {
                return a[0] - b[0];
            });

            var myChart = echarts.init(document.getElementById('line2'));
            var option = {
                title: {
                    text: '任务图片数和完成任务平均时间',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    }
                },
                grid: {
                    top: 80,
                    bottom: 90
                },
                xAxis: {
                    type: 'value',
                    splitLine: {
                        lineStyle: {
                            type: 'dashed'
                        }
                    },
                },
                yAxis: {
                    type: 'value',
                    splitLine: {
                        lineStyle: {
                            type: 'dashed'
                        }
                    },
                },
                series: [{
                    type: 'scatter',
                    symbolSize: function(data) {
                        return Math.sqrt(data[2]) / 0.5;
                    },
                    label: {
                        emphasis: {
                            show: true,
                            formatter: function(param) {
                                return param.data[3];
                            },
                            position: 'top'
                        }
                    },
                    itemStyle: {
                        normal: {
                            shadowBlur: 10,
                            shadowColor: 'rgba(120, 36, 50, 0.5)',
                            shadowOffsetY: 5,
                            color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                                offset: 0,
                                color: 'rgb(251, 118, 123)'
                            }, {
                                offset: 1,
                                color: 'rgb(204, 46, 72)'
                            }])
                        }
                    },
                    data: data0
                }, {
                    name: 'line',
                    type: 'line',
                    lineStyle: {
                        normal: {
                            color: '#2f4554'
                        }
                    },
                    smooth: true,
                    showSymbol: false,
                    data: myRegression.points,
                    markPoint: {
                        itemStyle: {
                            normal: {
                                color: 'transparent'
                            }
                        },
                        label: {
                            normal: {
                                show: true,
                                position: 'left',
                                formatter: myRegression.expression,
                                textStyle: {
                                    color: '#333',
                                    fontSize: 14
                                }
                            }
                        },
                        data: [{
                            coord: myRegression.points[myRegression.points.length - 1]
                        }]
                    }
                }]
            };

            myChart.setOption(option);
        }
    </script>



</head>


<body>
<div id="userbar" style="position: fixed;width: 1860px;z-index: 3;padding-left: 12%;">
    <li><img src="../static/pic/logo.png" style="height: 60px;margin-left: -465%"></li>
    <div style=" z-index:3;display: inline-block;float:left;margin-left: 10%;" >
        <ul>
            <li><a href="./chooseNewTask.html">任务大厅</a></li>
            <li><a href="#news">新闻</a></li>
            <li><a href="#contact">联系</a></li>
            <li><a style="color: darkviolet">帮助</a></li>
        </ul>
    </div>
    <br>

    <div style="float: right;z-index:3;margin-right:20px;display: inline-block;padding-right: 22%;;margin-top: -65px">
        <ul>
            <li><a href="./myTaskOfWorker.html">我的接取</a></li>
            <li><a href="./myTaskOfRequestor.html">我的发布</a></li>
            <li><a href="./taskAnnouncement.html">发布任务</a></li>
            <li><a href="./rechargePage.html">在线充值</a></li>
            <li style="z-index: 3">
                <a style="color:ghostwhite; font-size: 24px;font-family:Microsoft YaHei UI;">
                    你好，
                    <u id="username" style="color:ghostwhite; font-size: 24px;font-family:Microsoft YaHei UI;">用户</u>
                </a>
            </li>
        </ul>

        <div id="menu" style="margin-left: 82%;margin-top: -3%;z-index: 5;display: none;">
            <button onclick="goPersonalSpace()" style="border-radius:0;background: black;color:white;font-size: 20px;width: 120px;border-color: white;border-width: 1px;z-index: 5;">个人空间</button><br>
            <button onclick="logout()" style="border-radius:0;background: black;color:white;font-size: 20px;margin-top: -2px;width:120px;border-color: white;border-width: 1px;">退出账户</button>

        </div>
    </div>


</div>


<div style="position: fixed;width: 101%;height:90px;background-color: black;opacity: 1;z-index: 2;margin-top: -1%;margin-left: -1%"></div>
<br>

<div class="titleBox">
    <h2 style="padding-top: 2%;color: #232323;padding-left: 11.5%">积分指导</h2>
    <p style="color: #939393;padding-left: 11.5%">在这里，可以查看系统任务状况，帮助您更好地获取、使用积分</p>
</div>

<div class="maincut"></div>

<div class="mainbody">
    <div class="mainbox">
        <div class="mainPanel" style="font-size: 20px;">
            <div id="line1" style="width: 800px;height: 500px;margin-top: 0px;margin-left: 40px"></div>
            <div id="line2" style="width: 600px;height: 400px;margin-top: -400px;margin-left: 800px"></div>
        </div>

    </div>

</div>


</div>

<div style="width:101%; float: bottom; background-color: black;margin-left: -0.2%;margin-bottom: -100px;">
    <img src="../static/pic/logo.png" style="width:8%">
    <span style="color: white;text-align: center;font-size: 25px;vertical-align: center">让世界的智慧凝聚为你的眼</span>
    <span style="color: white;text-align: center;font-size: 25px;float: right;padding-top: 20px;margin-right: 0.4%">怎么码都码不队</span>
</div>

</body>
</html>