<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/taskDetailOfRequestorCSS.css" type="text/css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        var nopassreason='';
        $(document).ready(function(){
            gainList();

           $('#menux').menu();

            document.getElementById('username').innerText=localStorage.nickname;
            var username=document.getElementById('username');
            username.onmouseover=function () {
                document.getElementById("menu").style.display="inherit";
            }
            document.getElementById("userbar").onmouseleave=function (e) {
                if(e.target.id!="menu"){
                    document.getElementById("menu").style.display="none";
                }
            }

            document.getElementById('nopass-text').addEventListener('keydown',function(e){

                if(e.keyCode!=13) return;

                e.preventDefault();
                nopassreason=this.value;
                confirm(nopassreason);

            });
        });


        function logout(){
            var html = $.ajax({
                type: "Post",
                url: '/logout',
                dataType: 'json',
                contentType: "application/json",
                async: true,
                data: JSON.stringify(obj),
                success: function () {
                    window.open("./homepage.html","_self");
                },
                error: function () {
                    window.open("./homepage.html","_self");
                }
            });
        }
        function goPersonalSpace(){
            window.open("./personalSpacePage.html","_self");
        }
    </script>
</head>
<body>
<div id="userbar" class="u1">
    <li class="u3"><img class="u2" src="../static/pic/logo.png" style=""></li>
    <li class="u3"><a href="./chooseNewTask.html" class="u5">任务大厅</a></li>
    <li class="u3"><a href="#" class="u5">新闻</a></li>
    <li class="u3"><a href="#" class="u5">联系</a></li>
    <li class="u3"><a href="#" class="u5">帮助</a></li>
    <li class="u4"><a href="./myTaskOfWorker.html" class="u6" id="x">我的接取</a></li>
    <li class="u4"><a href="./myTaskOfRequestor.html" class="u6"  style="color: darkviolet">我的发布</a></li>
    <li class="u4"><a href="./taskAnnouncement.html" class="u6">发布任务</a></li>
    <li class="u4"><a href="./rechargePage.html" class="u6">在线充值</a></li>
    <li class="u4">
        <a class="u7">
            你好，
            <u id="username" style="color:ghostwhite; font-size: 24px;font-family:Microsoft YaHei UI;">用户</u>
        </a>
    </li>
    <div id="menu" style="margin-left: 82%;margin-top: -3%;z-index: 5;display: none;">
        <button onclick="goPersonalSpace()" style="border-radius:0;background: black;color:white;font-size: 20px;width: 120px;border-color: white;border-width: 1px;z-index: 5;margin-top: 65px;">个人空间</button><br>
        <button onclick="logout()" style="border-radius:0;background: black;color:white;font-size: 20px;margin-top: -2px;width:120px;border-color: white;border-width: 1px;">退出账户</button>

    </div>
</div>
<div class="menubox">
    <h1>任务统计</h1>
</div>
<div class="mainbox" id="mainbox">
    <div class="taskDetail-info" id="taskDetail-info">
        <img class="task-img" id="task-img">
        <p class="task-infop1" id="task-infop1"></p>
        <button class="taskbt" id="taskbt" onclick="query()">质疑</button>
    </div>
</div>
<div class="nopass-div" id="nopass-div">
    <textarea class="nopass-text" id="nopass-text" name="nopass" cols="20" rows="8" value="" placeholder="质疑理由"></textarea>
</div>
<div class="xx" id="xx">

</div>



<script>

    var requestorID=localStorage.account;

    var taskID='';
    var picID='';
    var picurl='';
    var taskMark='';
    var taskKind='';
    var taskRequest='';

    var labelIDs=new Array();
    var labelInfos=new Array();
    var isRight=new Array();
    var peoples=new Array();
    var workerIDs=new Array();
    var workerNames=new Array();
    var picTags=new Array();
    var workTaskIDs=new Array();


 /*   labelIDs[0]='01';
    labelIDs[1]='02';
    labelIDs[2]='03';
    labelIDs[3]='04';
    labelIDs[4]='05';
    labelInfos[0]='right';
    labelInfos[1]='right';
    labelInfos[2]='sd';
    labelInfos[3]='sd';
    labelInfos[4]='sd';
    isRight[0]='1';
    isRight[1]='1';
    isRight[2]='0';
    isRight[3]='0';
    isRight[4]='0';
    peoples[0]='2';
    peoples[1]='2';
    peoples[2]='3';
    peoples[3]='3';
    peoples[4]='3';
    workerIDs[0]='c';
    workerIDs[1]='c';
    workerIDs[2]='c';
    workerIDs[3]='c';
    workerIDs[4]='c';
    workerNames[0]='w01';
    workerNames[1]='w02';
    workerNames[2]='w03';
    workerNames[3]='w04';
    workerNames[4]='w05';
    picTags[0]=1;
    picTags[1]=1;
    picTags[2]=1;
    picTags[3]=1;
    picTags[4]=1;*/



    gainList=function() {
        /* 给图片id，获取list含标注id，标注information，是否正确，人数（标注该information的人数），对应的workerid，workername,worktaskid,该工人的标注方式（第一个放正确的*/
        var obj=new Object();
        obj={
            picID:picID
        };
        var html = $.ajax({
            type: "Post",
            url: '/taskDetail',
            dataType:'json',
            contentType: "application/json",
            async: false,
            data:JSON.stringify(obj),
            success: function(myobj) {
                console.log(myobj);
                console.log(myobj.Rid);
                labelIDs=[];
                labelInfos=[];
                isRight=[];
                peoples=[];
                workerIDs=[];
                workerNames=[];
                picTags=[];
                workTaskIDs=[];

                labelIDs=myobj.labelid;
                labelInfos=myobj.info;
                isRight=myobj.right;
                peoples=myobj.num;
                workerIDs=myobj.workerid;
                workerNames=myobj.workername;
                picTags=myobj.tag;
                workTaskIDs=myobj.worktaskid;
                $("#xx").children("div").remove();
                loadTask();

            },
            error: function() {
                alert("error");
            }
        });
        /*$("#xx").children("div").remove();
        loadTask();*/
    }

    loadTask=function() {
        taskID=localStorage.getItem('inittaskidc');
        picID=localStorage.getItem('picidm');
        picurl=localStorage.getItem('picurlm');
        taskMark=localStorage.getItem('taskmarkm');
        taskKind=localStorage.getItem('taskkindm');
        taskrequestm=localStorage.getItem('taskquestm');

        var taskinfo1=document.getElementById('task-infop1');
        var taskimg=document.getElementById('task-img');
        var rightAnswer="";
        if(isRight[0]==0){
            taskinfo1.innerText="正确答案： 【无】";
        }
        else{
            for(var s=0;s<isRight.length;s++){
                if(isRight==1){
                    rightAnswer=rightAnswer+" "+labelInfos[s];
                }
            }

            taskinfo1.innerText="正确答案： 【"+rightAnswer+"】";
        }

        taskimg.src=picurl;


        var menux = document.createElement("div");
        menux.className="menux";
        menux.id="menux";
        var ULz=document.createElement('ul');
        var x=0;
        var y=0;
        var i =0;
        var count=0;
        var li=new Array();
        var ul=new Array();
        var a =new Array();
        var alist=new Array();
        var lilist=new Array();
        while(i<labelIDs.length){

            var lix=document.createElement('li');
            var ulx=document.createElement('ul');
            var ax=document.createElement('a');
            li.push(lix);
            ul.push(ulx);
            a.push(ax);
            a[x].href='#';
            a[x].innerText=labelInfos[i] +" : "+peoples[i]+" 人 ";
            ULz.appendChild(li[x]);
            li[x].appendChild(a[x]);
            li[x].appendChild(ul[x]);
            count=count+i;
            console.log("count"+count);
            for(i;i<parseInt(count)+parseInt(peoples[count]);i++){
                console.log(parseInt(count)+parseInt(peoples[count]));
                var lixy=document.createElement('li');
                var axy=document.createElement('a');
                alist.push(axy);
                lilist.push(lixy);
                alist[i].href='javascript:void(0);';
                alist[i].onclick=clicktags(i);
                alist[i].innerText=workerNames[i];
                alist[i].className='menua';
                ul[x].appendChild(lilist[i]);
                lilist[i].appendChild(alist[i]);
                y++;
            }
            x++;
        }
        menux.appendChild(ULz);
        xx.append(menux);
        clicktags();
    }

    function clicktags() {
        var aObjs=document.getElementsByClassName('menua');
        for(var i=0;i<aObjs.length;i++){
            !function (i) {
                var aObj=aObjs[i];
                aObj.onclick=function () {
                    console.log(i);
                    if (picTags[i] == 1) {
                        localStorage.setItem('order',"");
                        localStorage.setItem('picIDs',"");
                        localStorage.setItem('picSrcs',"");
                        var temp=taskMark.split(":");
                        var tempm=new Array();
                        if(temp.length==2){
                            tempm[0]=temp[0];
                        }
                        else if(temp.length==3){
                            tempm[0]=temp[0];
                            tempm[1]=temp[1];
                        }
                        else if(temp.length==4){
                            tempm[0]=temp[0];
                            tempm[1]=temp[1];
                            tempm[2]=temp[2];
                        }
                        localStorage.setItem('taskTags',JSON.stringify(tempm));
                        localStorage.setItem('demand',taskRequest);
                        localStorage.setItem('category',taskKind);
                        var postData = {'picSrc': picurls[i], 'picID': picIDs[i], 'workerAccount': workerIDs[i], 'tag': 1,'TaskID':workTaskIDs[i]};
                        localStorage.setItem('filter',JSON.stringify(postData));
                        window.open("./checkWholeLabelPage.html","_blank");
                    }
                    else if (picTags[i] == 2) {
                        localStorage.setItem('order',"");
                        localStorage.setItem('picIDs',"");
                        localStorage.setItem('picSrcs',"");
                        var temp=taskMark.split(":");
                        var tempm=new Array();
                        if(temp.length==2){
                            tempm[0]=temp[0];
                        }
                        else if(temp.length==3){
                            tempm[0]=temp[0];
                            tempm[1]=temp[1];
                        }
                        else if(temp.length==4){
                            tempm[0]=temp[0];
                            tempm[1]=temp[1];
                            tempm[2]=temp[2];
                        }
                        localStorage.setItem('taskTags',JSON.stringify(tempm));
                        localStorage.setItem('demand',taskRequest);
                        localStorage.setItem('category',taskKind);
                        var postData = {'picSrc': picurls[i], 'picID': picIDs[i], 'workerAccount': workerIDs[i], 'tag': 1,'TaskID':workTaskIDs[i]};
                        localStorage.setItem('filter',JSON.stringify(postData));
                        window.open("./checkRectangleLabelPage.html","_blank");
                    }
                    else if (picTags[i] == 3) {
                        localStorage.setItem('order',"");
                        localStorage.setItem('picIDs',"");
                        localStorage.setItem('picSrcs',"");
                        var temp=taskMark.split(":");
                        var tempm=new Array();
                        if(temp.length==2){
                            tempm[0]=temp[0];
                        }
                        else if(temp.length==3){
                            tempm[0]=temp[0];
                            tempm[1]=temp[1];
                        }
                        else if(temp.length==4){
                            tempm[0]=temp[0];
                            tempm[1]=temp[1];
                            tempm[2]=temp[2];
                        }
                        localStorage.setItem('taskTags',JSON.stringify(tempm));
                        localStorage.setItem('demand',taskRequest);
                        localStorage.setItem('category',taskKind);
                        var postData = {'picSrc': taskPicurls[i], 'picID': picIDs[i], 'workerAccount': workerIDs[i], 'tag': 1,'TaskID':workTaskIDs[i]};
                        localStorage.setItem('filter',JSON.stringify(postData));
                        window.open("./checkOutlineLabelPage.html","_blank");
                    }
                }
            }(i);
        }
    }



    function query() {
        var nd=document.getElementById('nopass-div');
        nd.style.display='block';
    }
    function confirm(k) {
        console.log(k);
        var x=k;
        var nd=document.getElementById('nopass-div');
        if(x==''){
            alert("请填写原因");
        }
        if(x!=''){
            //alert(x);
            nd.style.display='none';
            //质疑
            var obj=new Object();
            obj={
                picID:picID,
                taskID:taskID,
                queryReason:reason,
            };
            var html = $.ajax({
                type: "Post",
                url: '/taskDetail/query',
                dataType:'json',
                contentType: "application/json",
                async: false,
                data:JSON.stringify(obj),
                success: function(myobj) {
                    loadTask();
                },
                error: function() {
                    alert("error");
                }
            });
        }
    }


/*    */


    (function($)
    {
        var usedIds = [];

        $.fn.menu = function(options)
        {
            var selector = this.selector;

            var settings = $.extend(
                {
                    dataJSON: false,
                    backLabel: 'Back'

                }, options);

            return this.each(function()
            {
                var self = this,
                    menu = $(self),
                    data;

                if (menu.hasClass('sliding-menu'))
                {
                    return;
                }

                var menuWidth = menu.width();

                if (settings.dataJSON)
                {
                    data = processJSON(settings.dataJSON);
                }
                else
                {
                    data = process(menu);
                }

                menu.empty().addClass('sliding-menu');

                var rootPanel;

                if (settings.dataJSON)
                {
                    $(data).each(function(index, item)
                    {
                        var panel = $('<ul></ul>');

                        if (item.root)
                        {
                            rootPanel = '#' + item.id;
                        }

                        panel.attr('id', item.id);
                        panel.addClass('menu-panel');
                        panel.width(menuWidth);

                        $(item.children).each(function(index, item)
                        {
                            var link = $('<a></a>');

                            link.attr('class', item.styleClass);
                            link.attr('href', item.href);
                            link.text(item.label);

                            var li = $('<li></li>');

                            li.append(link);

                            panel.append(li);

                        });

                        menu.append(panel);

                    });
                }
                else
                {
                    $(data).each(function(index, item)
                    {
                        var panel = $(item);

                        if (panel.hasClass('menu-panel-root'))
                        {
                            rootPanel = '#' + panel.attr('id');
                        }

                        panel.width(menuWidth);

                        menu.append(item);

                    });
                }

                rootPanel = $(rootPanel);
                rootPanel.addClass('menu-panel-root');

                var currentPanel = rootPanel;

                menu.height(rootPanel.height());

                var wrapper = $('<div></div>').addClass('sliding-menu-wrapper').width(data.length * menuWidth);

                menu.wrapInner(wrapper);

                wrapper = $('.sliding-menu-wrapper', menu);

                $('a', self).on('click', function(e)
                {
                    var href = $(this).attr('href'),
                        label = $(this).text();

                    if (href == '#')
                    {
                        e.preventDefault();
                    }
                    else if (href.indexOf('#menu-panel') == 0)
                    {
                        var target = $(href),
                            isBack = $(this).hasClass('back'),
                            marginLeft = parseInt(wrapper.css('margin-left'));

                        if (isBack)
                        {
                            if (href == '#menu-panel-back')
                            {
                                target = currentPanel.prev();
                            }

                            wrapper.animate(
                                {
                                    marginLeft: marginLeft + menuWidth

                                }, 'fast');
                        }
                        else
                        {
                            target.insertAfter(currentPanel);

                            if (settings.backLabel === true)
                            {
                                $('.back', target).text(label);
                            }
                            else
                            {
                                $('.back', target).text(settings.backLabel);
                            }

                            wrapper.animate(
                                {
                                    marginLeft: marginLeft - menuWidth

                                }, 'fast');
                        }

                        currentPanel = target;

                        menu.animate(
                            {
                                height: target.height()

                            }, 'fast');

                        e.preventDefault();
                    }

                });

                return this;

            });

            function process(data)
            {
                var ul = $('ul', data),
                    panels = [];

                $(ul).each(function(index, item)
                {
                    var panel = $(item),
                        handler = panel.prev(),
                        id = getNewId();

                    if (handler.length == 1)
                    {
                        handler.addClass('nav').attr('href', '#menu-panel-' + id);
                    }

                    panel.attr('id', 'menu-panel-' + id);

                    if (index == 0)
                    {
                        panel.addClass('menu-panel-root');
                    }
                    else
                    {
                        panel.addClass('menu-panel');

                        var li = $('<li></li>'),
                            back = $('<a></a>').addClass('back').attr('href', '#menu-panel-back');

                        panel.prepend(back);
                    }

                    panels.push(item);

                });

                return panels;
            }

            function processJSON(data, parent)
            {
                var root = { id: 'menu-panel-' + getNewId(), children: [], root: (parent ? false : true) },
                    panels = [];

                if (parent)
                {
                    root.children.push(
                        {
                            styleClass: 'back',
                            href: '#' + parent.id

                        });
                }

                $(data).each(function(index, item)
                {
                    root.children.push(item);

                    if (item.children)
                    {
                        var panel = processJSON(item.children, root);

                        item.href = '#' + panel[0].id;
                        item.styleClass = 'nav';

                        panels = panels.concat(panel);
                    }

                });

                return [root].concat(panels);
            }

            function getNewId()
            {
                var id;

                do
                {
                    id = Math.random().toString(36).substring(3, 8);
                }
                while (usedIds.indexOf(id) >= 0);

                usedIds.push(id);

                return id;
            }

        };

    } (jQuery));

</script>
</body>
</html>