<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/taskDetailOfRequestorCSS.css" type="text/css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        var nopassreason='';
        $(document).ready(function(){
            gainList();


            document.getElementById('username').innerText=localStorage.nickname;
            var username=document.getElementById('username');
            username.onmouseover=function () {
                document.getElementById("menu").style.display="inherit";
            }
            document.getElementById("userbar").onmouseleave=function (e) {
                if(e.target.id!="menu"){
                    document.getElementById("menu").style.display="none";
                }
            }

            document.getElementById('nopass-text').addEventListener('keydown',function(e){

                if(e.keyCode!=13) return;

                e.preventDefault();
                nopassreason=this.value;
                confirm(nopassreason);

            });
        });


        function logout(){
            window.open("./homepage.html","_self");
        }

        function goPersonalSpace(){
            window.open("./personalSpacePage.html","_self");
        }
    </script>
</head>
<body>
<div id="userbar" class="u1">
    <li class="u3"><img class="u2" src="../static/pic/logo.png" style=""></li>
    <li class="u3"><a href="./chooseNewTask.html" class="u5">任务大厅</a></li>
    <li class="u3"><a href="#" class="u5">新闻</a></li>
    <li class="u3"><a href="#" class="u5">联系</a></li>
    <li class="u3"><a href="#" class="u5">帮助</a></li>
    <li class="u4"><a href="./myTaskOfWorker.html" class="u6" id="x">我的接取</a></li>
    <li class="u4"><a href="./myTaskOfRequestor.html" class="u6"  style="color: darkviolet">我的发布</a></li>
    <li class="u4"><a href="./taskAnnouncement.html" class="u6">发布任务</a></li>
    <li class="u4"><a href="./rechargePage.html" class="u6">在线充值</a></li>
    <li class="u4">
        <a class="u7">
            你好，
            <u id="username" style="color:ghostwhite; font-size: 24px;font-family:Microsoft YaHei UI;">用户</u>
        </a>
    </li>
    <div id="menu" style="margin-left: 82%;margin-top: -3%;z-index: 5;display: none;">
        <button onclick="goPersonalSpace()" style="border-radius:0;background: black;color:white;font-size: 20px;width: 120px;border-color: white;border-width: 1px;z-index: 5;margin-top: 65px;">个人空间</button><br>
        <button onclick="logout()" style="border-radius:0;background: black;color:white;font-size: 20px;margin-top: -2px;width:120px;border-color: white;border-width: 1px;">退出账户</button>

    </div>
</div>
<div class="menubox">
    <h1>任务统计</h1>
</div>
<div class="mainbox" id="mainbox">
    <div class="taskDetail-info" id="taskDetail-info">
        <img class="task-img" id="task-img">
        <p class="task-infop1" id="task-infop1"></p>
        <button class="taskbt" id="taskbt" onclick="query()">质疑</button>
    </div>
</div>

<div class="nopass-div" id="nopass-div">
    <textarea class="nopass-text" id="nopass-text" name="nopass" cols="20" rows="8" value="" placeholder="质疑理由"></textarea>
</div>


<script>

    var requestorID=localStorage.account;

    var taskID='';
    var picID='';
    var picurl='';
    var taskMark='';

    var labelIDs=new Array();
    var labelInfos=new Array();
    var isRight=new Array();
    var peoples=new Array();
    var workerIDs=new Array();
    var workerNames=new Array();


    labelIDs[0]='01';
    labelIDs[1]='02';
    labelIDs[2]='03';
    labelIDs[3]='04';
    labelIDs[4]='05';
    labelInfos[0]='right';
    labelInfos[1]='right';
    labelInfos[2]='sd';
    labelInfos[3]='sd';
    labelInfos[4]='sd';
    isRight[0]='1';
    isRight[1]='1';
    isRight[2]='0';
    isRight[3]='0';
    isRight[4]='0';
    peoples[0]='2';
    peoples[0]='2';
    peoples[0]='3';
    peoples[0]='3';
    peoples[0]='3';
    workerIDs[0]='c';
    workerIDs[1]='c';
    workerIDs[2]='c';
    workerIDs[3]='c';
    workerIDs[4]='c';
    workerNames[0]='sc';
    workerNames[1]='sc';
    workerNames[2]='sc';
    workerNames[3]='sc';
    workerNames[4]='sc';


    function gainList() {
        /* 给图片id，获取list含标注id，标注information，是否正确，人数（标注该information的人数），对应的workerid，workername,（第一个放正确的*/
        /*var obj=new Object();
        obj={
            picID:picID
        };
        var html = $.ajax({
            type: "Post",
            url: '/taskDetail',
            dataType:'json',
            contentType: "application/json",
            async: false,
            data:JSON.stringify(obj),
            success: function(myobj) {
                console.log(myobj);
                console.log(myobj.Rid);
                labelIDs=[];
                labelInfos=[];
                isRight=[];
                peoples=[];
                workerIDs=[];
                workerNames=[];

                labelIDs=myobj.labelid;
                labelInfos=myobj.info;
                isRight=myobj.right;
                peoples=myobj.num;
                workerIDs=myobj.workerid;
                workerNames=myobj.workername;

                loadTask();

            },
            error: function() {
                alert("error");
            }
        });*/
        loadTask();
    }
    
    function loadTask() {
        taskID=localStorage.getItem('inittaskidc');
        picID=localStorage.getItem('picidm');
        picurl=localStorage.getItem('picurlm');
        taskMark=localStorage.getItem('taskmarkm');

        var taskinfo1=document.getElementById('task-infop1');
        var taskimg=document.getElementById('task-img');

        taskinfo1.innerText="正确答案： 【"+labelInfos[0]+"】";
        taskimg.src=picurl;
    }



    function query() {
        var nd=document.getElementById('nopass-div');
        nd.style.display='block';
    }
    function confirm(k) {
        console.log(k);
        var x=k;
        var nd=document.getElementById('nopass-div');
        if(x==''){
            alert("请填写原因");
        }
        if(x!=''){
            //alert(x);
            nd.style.display='none';
            //质疑
            /*var obj=new Object();
            obj={
                picID:picID,
                taskID:taskID,
                queryReason:reason,
            };
            var html = $.ajax({
                type: "Post",
                url: '/taskDetail/query',
                dataType:'json',
                contentType: "application/json",
                async: false,
                data:JSON.stringify(obj),
                success: function(myobj) {
                    loadTask();
                },
                error: function() {
                    alert("error");
                }
            });*/
        }
    }

</script>
</body>
</html>